<div class="m-lg-3 ">
    <h1 [translate]="'iTheses.ThesisProposalsTitle'"></h1>
    <div class="theses_search_filters">
        <form class="form-inline p-2 col">
            <div class="form-group col-12 col-md-6 col-lg-auto py-1">
                <label class="pr-2" for="searchText" [translate]="'iTheses.ThesisType.type'"></label>
                <select class="form-control" id="selectedThesisType" name="selectedThesisType"
                    [(ngModel)]="selectedThesisType" (ngModelChange)="search()">
                    <option [ngValue]="null"><span [translate]="'iTheses.FilterByStatus'"></span></option>
                    <option *ngFor="let thesisTypes of select | groupBy: [ 'type.alternateName'] | values"
                        [ngValue]="thesisTypes[0].type.alternateName"> {{ thesisTypes[0].type | localize:['name']}}
                    </option>
                </select>
            </div>

            <div class="form-group col-12 col-md-6 py-1">
                <label class="pr-2" [translate]="'iTheses.Search'"></label>
                <input spellcheck="false" (keyup.enter)="search()" type="text" id="searchText" [(ngModel)]="searchText"
                    name="searchText" class="form-control col text-left"
                    [placeholder]="'iTheses.SearchPlaceHolder' | translate">
            </div>
        </form>
    </div>
    <div class="mt-4">
        <div class="row">
            <div class="col">
                <div class='text-nowrap'>
                    <div *ngIf="this.count > 1 || this.count == 0"
                        class="mt-1 text-left text-secondary font-xl sis-brand-bold">
                        {{this.count}} {{'iTheses.Results' | translate}}</div>
                    <div *ngIf="this.count === 1" class="mt-1 text-left text-secondary font-xl sis-brand-bold">
                        {{this.count}}
                        {{'iTheses.Result' | translate}}</div>
                </div>
            </div>
            <div class="col">
                <div class="float-right">
                    <div class="pull-right ml-auto">
                        <div class="btn-group">
                            <button class="btn btn-outline-indigo btn-lg"
                                [routerLink]="[{ outlets: { modal: ['add'] } }]"
                                [translate]="'iTheses.CreateThesisProposal'">
                            </button>
                            <button class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <button class="dropdown-item" [routerLink]="[{ outlets: { modal: ['add'] } }]"
                                    [translate]="'iTheses.CreateThesisProposal'"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--pre-loading state-->
    <div class="card mb-3 mt-5" *ngIf="isLoading">
        <div class="card-body">
            <div class="ph-col-12">
                <div class="ph-row">
                    <div class="ph-col-8 big"></div>
                </div>
                <div class="ph-row">
                    <div class="ph-col-2 big"></div>
                    <div class="ph-col-2 ml-3 big"></div>
                    <div class="ph-col-2 ml-3 big"></div>
                </div>
            </div>
        </div>
    </div>
    <!--end pre-loading state-->

    <div *ngIf="thesisProposals.length > 0">
        <div class="card mb-4 mt-5" *ngFor="let thesis of thesisProposals">
            <div class="card-body">
                <div>
                    <div *ngIf="thesis">
                        <div>
                            <div class="row">
                                <div class="col col-lg-8 col-md-10">
                                    <div>
                                        <h5>{{ thesis | localize:['name'] }} - {{ thesis?.status | localize:['name'] }}
                                        </h5>
                                    </div>
                                </div>
                                <div class="col col-lg-4 col-md-4 d-none d-md-block text-secondary mobile-hidden">
                                    <span
                                        class="align-middle mr-3 grade-title float-right">
                                        <span *ngIf="thesis && thesis.status && thesis.status.alternateName && thesis.status.alternateName === 'potential' && thesis?.interest === 0">
                                            <a class="btn" (click)="onRemove(templateRemove,thesis)"><i
                                                    class="fa fa-trash text-primary"></i></a>
                                        </span>
                                        <span class="ml-4">
                                            <a [routerLink]="[{ outlets: { modal: [thesis.id, 'edit'] } }]"><i
                                                    class="fa fa-edit fa-xs"></i></a>
                                        </span>
                                        <span class="ml-4">
                                            <a [routerLink]="[thesis.id, 'overview']"><i
                                                    class="fa fa-eye fa-xs"></i></a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="mb-2">
                                <span class="text-secondary mr-3"><i class="fa fa-university pr-1"></i>{{
                                    thesis?.department| localize:['name'] }}</span>
                                <span title="{{ 'iTheses.ThesisType.type' | translate }}" class="text-secondary mr-3"><i
                                        class="fa fa-flag pr-1"></i>{{ thesis?.type | localize:['name'] }}</span>
                                <span *ngIf="thesis.dateCreated"
                                    class="text-secondary mr-3"><i class="fa fa-calendar-plus pr-1"></i>{{ 'iTheses.ThesisProposals.StartDate' | translate }} {{thesis?.dateCreated
                                    | localizedDate: 'shortDate'}}</span>
                                <span *ngIf="thesis.dateModified"
                                    class="text-secondary mr-3"><i
                                        class="fa fa-calendar pr-1"></i>{{ 'iTheses.ThesisProposals.ModifiedDate' | translate }} {{thesis?.dateModified | localizedDate:
                                    'shortDate'}}</span>
                            </div>
                            <div class="mb-2">
                                <span title="{{ 'iTheses.ThesisProposals.TotalStudents' | translate }}"
                                class="text-secondary mr-3 text-wrap">
                                <i class="fa fa-users pr-1"></i>{{'iTheses.ThesisProposals.TotalStudents' | translate }}: {{ thesis?.totalStudents }}</span>
                                <span title="{{ 'iTheses.ThesisProposals.StudentsInterested' | translate }}"
                                    class="text-secondary mr-3 text-wrap">
                                    <i class="fa fa-user pr-1"></i>{{(thesis?.interest && thesis.status && thesis.status.alternateName === 'completed') ? ('iTheses.ThesisProposals.StudentsInterestedPast' | translate) : ('iTheses.ThesisProposals.StudentsInterested' | translate)}}:
                                    {{ thesis?.interest }}</span>
                                <span title="{{ (thesis?.interest && thesis.status && thesis.status.alternateName === 'completed')? ('ThesisProposals.Assigned' | translate) : ('iTheses.ThesisProposals.NotAssigned' | translate) }}" class="mr-3"
                                    [ngClass]="(thesis?.interest && thesis.status && thesis.status.alternateName === 'completed')? 'text-success':'text-warning'">
                                    <span>
                                    </span>
                                    <i *ngIf="thesis?.interest" [ngClass]="(thesis?.interest && thesis.status && thesis.status.alternateName === 'completed') ? 'fa fa-check-circle pr-1':'fa fa-exclamation-circle pr-1'" ></i>
                                </span>
                            </div>
                            <div class="mobile-show">
                                <div class="row">
                                    <!-- <span *ngIf="thesis && thesis.status && thesis.status.alternateName && thesis.status.alternateName === 'potential' && thesis?.interest === 0">
                                        <a class="btn" (click)="onRemove(templateRemove,thesis)"><i
                                                class="fa fa-trash text-primary"></i></a>
                                    </span> -->
                                    <button type="button" class="btn btn-light btn-block text-center text-secondary" 
                                    [routerLink]="[{ outlets: { modal: [thesis.id, 'edit'] } }]">
                                        <span>
                                            {{'iTheses.ThesisProposals.Edit' | translate}}
                                        </span>
                                        <span class="align-self-center float-right">
                                            <i class="fa fa-edit fa-sm text-primary"></i>
                                        </span>
                                    </button>
                                    <button type="button" class="btn btn-light btn-block text-center text-secondary" 
                                    [routerLink]="[thesis.id, 'overview']">
                                        <span>
                                            {{'iTheses.ThesisProposals.Overview' | translate}}
                                        </span>
                                        <span class="align-self-center float-right">
                                            <i class="fa fa-eye fa-sm text-primary"></i>
                                        </span>
                                    </button>
                                    <button *ngIf="thesis && thesis.status && thesis.status.alternateName && thesis.status.alternateName === 'potential' && thesis?.interest === 0" type="button" class="btn btn-light btn-block text-center text-secondary" 
                                    (click)="onRemove(templateRemove,thesis)">
                                        <span>
                                            {{'iTheses.ThesisProposals.Delete' | translate}}
                                        </span>
                                        <span class="align-self-center float-right">
                                            <i class="fa fa-trash fa-sm text-danger"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div *ngIf="!isLoading && thesisProposals && thesisProposals.length === 0">
        <div class="row mt-3">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text" [translate]="'iTheses.ThesesActiveEmpty'"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <router-modal></router-modal>
</div>


<ng-template #templateRemove>
    <div class="modal-header">
      <h4 class="modal-title pull-left"
        [translate]="'iTheses.ThesisProposals.InstructorAction.ModalTitle.RemoveProposal' | translate"></h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mt-0 mb-0 text-center">
      <div>
        <p class="text-secondary text-left">{{'iTheses.ThesisProposals.InstructorAction.HelpOn.RemoveProposal' | translate}}<br>
          <b>{{item.name}}.</b><br>
          <br>{{'iTheses.ThesisProposals.InstructorAction.Sure' | translate}}
        </p>
      </div>
      <form class="text-center">
        <div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="remove()"
              [translate]="'iTheses.ThesisProposals.InstructorAction.Reject'"></button>
            <button type="button" class="btn btn-gray-300 text-white" (click)="modalRef.hide()"
              [translate]="'iTheses.ThesisProposals.InstructorAction.Cancel'"></button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>